body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2185d0;
}

.online {
    background: #66bb6a;
}

.offline {
    background: #424242;
}

span {
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 10px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}